# 1. Ignore everything
*

# 2. But, re-include all directories so Git can search them
!*/

# 3. Now, un-ignore files with the specific extension pattern
!**/*.cibd*

# 4. Finally, don't ignore the .gitignore file itself
!.gitignore